<!DOCTYPE html>
<html>
<head>
  <title>Demo Server</title>
	<% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
	<div class="row">
  <div class="col-md-6">
  	<a href="/users" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-user"></span> Quản lý người dùng
    </a>
  </div>
  <div class="col-md-6">
  	<a href="/words" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-fire"></span> Quản lý dữ liệu trò chơi
    </a>
  </div>
</div>
</body>
</html>